<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCP_LISTENER_Delta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TCP_LISTENER_Delta.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TCP_LISTENER_Delta.Properties.Settings.DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TCP_LISTENER_Delta.Properties.Settings>
            <setting name="ACC_X_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="DEC_X_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="ACC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="DEC_Y_MAN" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedX2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY1" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedY2" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeedPERC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPEED_X_MAN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPEED_Y_MAN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="POS1" serializeAs="String">
                <value />
            </setting>
            <setting name="POS2" serializeAs="String">
                <value />
            </setting>
            <setting name="POS3" serializeAs="String">
                <value />
            </setting>
            <setting name="GrabTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleaseTMR" serializeAs="String">
                <value />
            </setting>
            <setting name="tesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
        </TCP_LISTENER_Delta.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>